In [63]:
import numpy as np
import pandas as pd
import statistics
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import unicodedata

In [64]:
df=pd.read_csv("D:\Excelr_assignments\loan-data.csv",encoding="latin",sep=";")
df

,id,issue_d,loan_amnt,loan_status,funded_amnt,term,int_rate,installment,grade,sub_grade,verification_status,url,addr_state,total_pymnt
0,48010226,May-15,35000.0,Current,35000.0,36 months,13.33,1184.86,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,CA,9452.96
1,57693261,NaN,30000.0,Current,30000.0,36 months,þëè.89,938.57,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY,4679.70
2,59432726,Sep-15,15000.0,Current,15000.0,36 months,íîå.53,494.86,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,PA,1969.83
3,53222800,Jul-15,9600.0,Current,9600.0,36 months,þëè.89,300.35,A,A5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH,1793.68
4,57803010,Aug-15,8075.0,Current,8075.0,36 months,19.19,296.78,NaN,E3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX,1178.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42974433,Mar-15,18000.0,Current,18000.0,36 months,àâã.18,565.56,B,B1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,WY,5639.24
9996,45424654,Apr-15,11300.0,Current,11300.0,36 months,ñåï.99,364.57,B,B3,NaN,https://www.lendingclub.com/browse/loanDetail....,OR,3274.86
9997,50415990,Jun-15,10000.0,Current,10000.0,36 months,þëè.89,NaN,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA,2185.64
9998,46154151,Apr-15,NaN,Current,10000.0,36 months,16.55,354.3,D,D2,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OH,3199.40
9999,66055249,Dec-15,10000.0,Current,10000.0,36 months,þëè.26,309.97,A,A4,NaN,https://www.lendingclub.com/browse/loanDetail....,IL,301.90

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10000 non-null  int64
 1   issue_d              9500 non-null   object
 2   loan_amnt            9500 non-null   float64
 3   loan_status          9500 non-null   object
 4   funded_amnt          9500 non-null   float64
 5   term                 9500 non-null   object
 6   int_rate             9500 non-null   object
 7   installment          9500 non-null   object
 8   grade                9485 non-null   object
 9   sub_grade            9486 non-null   object
 10  verification_status  9500 non-null   object
 11  url                  10000 non-null  object
 12  addr_state           9500 non-null   object
 13  total_pymnt          9500 non-null   float64
dtypes: float64(3), int64(1), object(10)
memory usage: 1.1+ MB

In [66]:
df['int_rate'].is_unique

False

In [67]:
df.int_rate.unique()

array(['13.33', 'þëè.89', 'íîå.53', '19.19', '13.99', '24.99', 'äåê.59',
       '15.61', 'äåê.39', '13.18', 'äåê.29', '17.86', '19.99', 'þëè.26',
       'ñåï.17', 'þíè.24', 'äåê.69', nan, '19.52', '15.41', '16.49',
       'íîå.49', 'îêò.99', '21.99', '16.99', '21.67', '13.67', 'äåê.99',
       'àâã.18', '20.99', '23.99', '17.57', 'àâã.67', 'ñåï.76', '14.31',
       'íîå.44', '18.84', 'ñåï.99', '14.65', '16.55', '22.99', '13.66',
       '18.25', '12.ìàé', '18.99', 'ìàé.32', 'þíè.92', '19.24', '14.33',
       '14.99', '18.55', 'àâã.19', 'þëè.49', 'þíè.49', '28.99', 'íîå.99',
       'þíè.89', 'íîå.22', '25.àâã', '18.ôåâ', 'ìàé.93', 'þíè.39',
       '16.59', 'ñåï.49', '15.59', 'þíè.99', 'þíè.68', 'îêò.49', '13.44',
       'àâã.49', '18.54', 'îêò.64', 'àâã.38', '18.49', '27.31', '20.49',
       '15.99', 'îêò.78', '17.14', '17.97', '14.48', '26.þíè', 'äåê.88',
       'íîå.48', '27.88', '6.ìàð', '25.57', '25.78', '25.83', '25.99',
       '24.ìàé', '14.85', '19.89', '26.77', '15.77', 'þëè.91', '26.99',
       '28.49', '9.àâã', '19.48', '17.27', '25.89', '6.0', '27.49',
       '24.24'], dtype=object)

In [69]:
clean = df['int_rate'].str.contains('\d+km')
df['int_rate'] = df['int_rate'].str.extract('(\d+)', expand = False).astype(float)

AttributeError: Can only use .str accessor with string values!

In [70]:
df['float'] = df['int_rate'].str.extract(r'(\d+.\d+)').astype('float')

AttributeError: Can only use .str accessor with string values!

In [73]:
extr = df['int_rate']str.extract(r'(\d+.\d+)', expand=True)
extr

AttributeError: 'str' object has no attribute 'extract'

In [32]:
df.corr()

                   id  loan_amnt  funded_amnt  total_pymnt
id           1.000000  -0.016539    -0.013329    -0.439552
loan_amnt   -0.016539   1.000000     1.000000     0.388964
funded_amnt -0.013329   1.000000     1.000000     0.385263
total_pymnt -0.439552   0.388964     0.385263     1.000000

In [5]:
data = df["int_rate"]
data

0        13.33
1       þëè.89
2       íîå.53
3       þëè.89
4        19.19
         ...
9995    àâã.18
9996    ñåï.99
9997    þëè.89
9998     16.55
9999    þëè.26
Name: int_rate, Length: 10000, dtype: object

In [6]:
data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: int_rate
Non-Null Count  Dtype
--------------  -----
9500 non-null   object
dtypes: object(1)
memory usage: 78.2+ KB

In [9]:
data.describe()

count       9500
unique       104
top       ñåï.17
freq         458
Name: int_rate, dtype: object

In [8]:
df['int_rate'] = df['int_rate'].astype('|S')

UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-2: ordinal not in range(128)

In [ ]:
print(df.isnull().sum())

In [ ]:
df.describe()

In [125]:
sns.boxplot(data["data"])
plt.title("data")
plt.show()

KeyError: 'data'