In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import scipy.cluster.hierarchy as shc
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import DBSCAN

In [23]:
df = pd.read_excel("D:\Excelr_assignments\Clustering\EastWestAirlines.xlsx",sheet_name='data')
df

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3994,4017,18476,0,1,1,1,8525,4,200,1,1403,1
3995,4018,64385,0,1,1,1,981,5,0,0,1395,1
3996,4019,73597,0,3,1,1,25447,8,0,0,1402,1
3997,4020,54899,0,1,1,1,500,1,500,1,1401,0
3998,4021,3016,0,1,1,1,0,0,0,0,1398,0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID#                3999 non-null   int64
 1   Balance            3999 non-null   int64
 2   Qual_miles         3999 non-null   int64
 3   cc1_miles          3999 non-null   int64
 4   cc2_miles          3999 non-null   int64
 5   cc3_miles          3999 non-null   int64
 6   Bonus_miles        3999 non-null   int64
 7   Bonus_trans        3999 non-null   int64
 8   Flight_miles_12mo  3999 non-null   int64
 9   Flight_trans_12    3999 non-null   int64
 10  Days_since_enroll  3999 non-null   int64
 11  Award?             3999 non-null   int64
dtypes: int64(12)
memory usage: 375.0 KB

In [55]:
SS = StandardScaler()
SS_X = SS.fit_transform(df.iloc[:,2:])

In [56]:
plt.figure(figsize=(15, 7))  
plt.title("Customer Dendograms")  
dend = shc.dendrogram(shc.linkage(SS_X, method='complete'))

In [57]:
cluster = AgglomerativeClustering(n_clusters=5, affinity='euclidean', linkage='complete')
Y = cluster.fit_predict(SS_X)

In [58]:
Y = pd.DataFrame(Y)
Y[0].value_counts()

0    3940
3      25
2      15
4      15
1       4
Name: 0, dtype: int64

In [59]:
plt.figure(figsize=(10, 7))  
plt.scatter(SS_X[:,0], SS_X[:,1], c=cluster.labels_, cmap='rainbow')

In [60]:
from sklearn.cluster import KMeans
Kmeans = KMeans(n_clusters=5,n_init=20)
Kmeans.fit(SS_X)
Y = Kmeans.predict(SS_X)

In [61]:

Y = pd.DataFrame(Y)
Y[0].value_counts()

plt.figure(figsize=(10, 7))  
plt.scatter(SS_X[:,0], SS_X[:,1], c=Kmeans.labels_, cmap='rainbow')

In [62]:
Kmeans.inertia_
C = Kmeans.cluster_centers_

In [63]:
l1 = []
for i in range(1,11):
    Kmeans = KMeans(n_clusters=i,n_init=20)
    Kmeans.fit(SS_X)
    l1.append(Kmeans.inertia_)
    
print(l1)

pd.DataFrame(range(1,11))        
pd.DataFrame(l1)
    
pd.concat([pd.DataFrame(range(1,11)),pd.DataFrame(l1)], axis=1)

[39990.00000000001, 31994.059340796615, 27514.81246097532, 23772.744872961885, 20301.458118766943, 17674.85530788285, 15550.247825458413, 13959.671778012473, 12704.208041215812, 11704.073227712532]

    0             0
0   1  39990.000000
1   2  31994.059341
2   3  27514.812461
3   4  23772.744873
4   5  20301.458119
5   6  17674.855308
6   7  15550.247825
7   8  13959.671778
8   9  12704.208041
9  10  11704.073228

In [64]:
plt.scatter(range(1,11),l1)
plt.show()

In [65]:

from mpl_toolkits.mplot3d import Axes3D
%matplotlib qt
fig = plt.figure()
ax = Axes3D(fig)
ax.scatter(SS_X[:, 0], SS_X[:, 1], SS_X[:, 2])
ax.scatter(C[:, 0], C[:, 1], C[:, 2], marker='*', c='Red', s=1000) # S is star size, c= * color

C:\Users\91703\AppData\Local\Temp\ipykernel_20568\1999357273.py:4: MatplotlibDeprecationWarning: Axes3D(fig) adding itself to the figure is deprecated since 3.4. Pass the keyword argument auto_add_to_figure=False and use fig.add_axes(ax) to suppress this warning. The default value of auto_add_to_figure will change to False in mpl3.5 and True values will no longer work in 3.6.  This is consistent with other Axes classes.
  ax = Axes3D(fig)