In [39]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [40]:
df=pd.read_csv("D:\Excelr assignments\Hypothesis Testing\data\LabTAT.csv")
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [41]:
Y1=stats.shapiro(df["Laboratory 1"])
Y1

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787)

In [42]:
Y2 = stats.shapiro(df["Laboratory 2"])
Y2

ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942)

In [43]:
Y3 = stats.shapiro(df["Laboratory 3"])
Y3

ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063)

In [44]:
Y4 = stats.shapiro(df["Laboratory 4"])
Y4

ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [45]:
#2 - Data description
#α == 0.05 (95% Confidence)

#Y == Continious
#X == Discrete

# H0 = Y1, Y2, Y3 and Y4 are normal
# H1 = Y1, Y2, Y3 and Y4 are not normal

In [46]:
# Ho is accepted i.e.X1,X2,X3,X4 are Normal.

In [47]:
# Variance

In [48]:
stats.levene(df["Laboratory 1"], df["Laboratory 2"], df["Laboratory 3"],df["Laboratory 4"])

LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)

In [49]:
#LeveneResult(statistic=2.599642500418024, pvalue=0.05161343808309816)
#Pvalue of Variance test is == 0.051 > α
#i.e H0 is Accepted and H1 is rejected.

In [50]:
# Anova Test
#H0 = Mean TAT for 4 laboratories equal(There is no significance difference between TAT of the laboratories)
#H1 = Mean TAT for 4 laboratories not equal (There is a significance difference between TAT of the laboratories)

In [51]:
stats.stats.f_oneway(df["Laboratory 1"], df["Laboratory 2"], df["Laboratory 3"], df["Laboratory 3"])

F_onewayResult(statistic=76.75683342056706, pvalue=1.6416003821741989e-40)

In [53]:
# P value of the One way Anova test is == 2e-16 < α
# i.e Ho is Acccepted and H1 is rejected

In [ ]:
# Mean TAT for 4 laboratories not equal 
# (There is a significance difference between TAT of the laboratories)